<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clips Vault - Clips</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/clips.css" />
    <link rel="stylesheet" href="/css/loader.css">
</head>

<body>
    <%- include('menu.ejs') %>
        <section>
            <div class="main-interface">
                <div class="search-form" id="search-form">
                    <form action="search">
                        <h1>Search</h1>
                        <div class="tags-search">
                            <label for="from-date">Tags:</label>
                            <div class="tags-search-container">
                                <div class="tags-list">
                                    <span>Tag<i class="fa-solid fa-circle-xmark"></i></span>
                                </div>
                                <div class="tag-search-input">
                                    <i class="fa-solid fa-search"></i>
                                    <input type="text" name="search" id="search" placeholder="Search tags..." />
                                </div>
                            </div>
                        </div>
                        <div class="category-search">
                            <label for="from-date">Category:</label>
                            <div class="category-dropdown">
                                <span class="category-dropdown-selector">
                                    <span class="category-dropdown-selector-text">All</span>
                                    <i class="fa-solid fa-chevron-down" id="chevron-down"></i>
                                </span>
                                <ul class="category-dropdown-menu">
                                    <% categories.forEach(category=> { %>
                                        <li>
                                            <%= category %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="date-search">
                            <label for="from-date">From:</label>
                            <input type="date" name="from-date" id="from-date" />
                        </div>
                        <div class="date-search">
                            <label for="to-date">To:</label>
                            <input type="date" name="to-date" id="to-date" />
                        </div>
                        <div class="favorite-selector toggle-switch">
                            <label for="switch">Favorite</label>
                            <label class="switch">
                                <input id="favorite" type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="entire-stream-selector toggle-switch">
                            <label for="switch">Entire Stream</label>
                            <label class="switch">
                                <input id="favorite" type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="clips-interface">
                    <% for (let i=0; i < videos.length; i++) { %>
                        <a href="/video?videoId=<%= videos[i]._id %>">
                            <div class="clip" data-id="<%= videos[i]._id %>">
                                <div class="video-container">
                                    <img class="clip-image" src="<%= videos[i].categoryImg %>" alt="">
                                    <video src="<%= videos[i].file %>"></video>
                                    <span class="clip-duration">
                                        <%= videos[i].length %>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
        </section>
        <script>
            const videos = document.querySelectorAll('.clip video');
            const chevronDown = document.getElementById('chevron-down');
            const categoryDropdown = document.querySelector('.category-dropdown-menu');
            const dropdownSelectorText = document.querySelector('.category-dropdown-selector-text');
            const dropdownOptions = document.querySelectorAll('.category-dropdown-menu li');
            const searchDiv = document.querySelector('.searching');
            const clips = document.querySelectorAll('.clip');
            const closeIcons = document.querySelectorAll('.fa-circle-xmark');
            const form = document.getElementById('search-form');
            const toDateInput = document.getElementById('to-date');
            const today = new Date().toISOString().split('T')[0];
            toDateInput.value = today;
            var menuLinks = document.getElementsByClassName('menu-link');
            for (var i = 0; i < menuLinks.length; i++) {
                var link = menuLinks[i];
                if (link.textContent === 'Clips') {
                    link.classList.add('selected');
                }
            }

            videos.forEach(video => {
                video.addEventListener('mouseenter', () => {
                    video.setAttribute('controls', 'controls');
                    video.play();
                });

                video.addEventListener('mouseleave', () => {
                    video.removeAttribute('controls');
                    video.pause();
                });
            });

            dropdownOptions.forEach((option) => {
                option.addEventListener('click', () => {
                    const selectedOptionText = option.textContent;
                    dropdownSelectorText.textContent = selectedOptionText;
                    categoryDropdown.classList.toggle('show');
                    chevronDown.classList.toggle('rotate');
                });
            });
            closeIcons.forEach((icon) => {
                icon.addEventListener('click', (event) => {
                    const span = event.target.parentNode;
                    span.remove();
                });
            });

            clips.forEach((clip) => {
                clip.addEventListener('click', () => {
                    const videoId = clip.dataset.id;
                    window.location.href = `/video?videoId=${videoId}`;
                });
            });

            chevronDown.addEventListener('click', () => {
                categoryDropdown.classList.toggle('show');
                chevronDown.classList.toggle('rotate');
            });

            form.addEventListener('change', searchClips);
            console.log('form')
            console.log(document.querySelector('form'));
            function createVideoClipDiv(video) {
                console.log(video.file)
                const div = document.createElement('div');
                div.classList.add('clip');
                div.dataset.id = video._id;

                const link = document.createElement('a');
                link.href = `/video?videoId=${video._id}`;
                div.appendChild(link);

                const videoContainer = document.createElement('div');
                videoContainer.classList.add('video-container');
                link.appendChild(videoContainer);

                const videoElement = document.createElement('video');
                // const filePath = encodeURIComponent(video.file);
                const filePath = video.file.replace(/\\/g, '/');
                videoElement.src = `/${filePath}`;
                videoElement.controls = true;
                videoContainer.appendChild(videoElement);

                const durationSpan = document.createElement('span');
                durationSpan.classList.add('clip-duration');
                durationSpan.textContent = video.length;
                videoContainer.appendChild(durationSpan);
                return div;
            }

            function searchClips() {
                const tags = Array.from(document.querySelectorAll('.tags-list span')).map(span => {
                    const tagText = span.textContent.replace(span.querySelector('i').outerHTML, '');
                    return tagText.trim();
                });
                console.log(tags);
                const category = document.querySelector('.category-dropdown-selector-text').textContent;
                const from = document.getElementById('from-date').value;
                const to = document.getElementById('to-date').value;
                const favorite = document.getElementById('favorite').checked;
                searchDiv.classList.add('show');
                const body = {
                    tags: tags,
                    category: category,
                    from: from,
                    to: to,
                    favorite: favorite
                };

                fetch('/api/searchclips', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                })
                    .then(response => response.json())
                    .then(data => {
                        const clipsInterface = document.querySelector('.clips-interface');
                        clipsInterface.innerHTML = '';
                        searchDiv.classList.remove('show');
                        data.forEach(video => {
                            const clipDiv = createVideoClipDiv(video);
                            clipsInterface.appendChild(clipDiv);
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>
</body>

</html>