<title>Clips Vault</title>
<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="/css/upload.css" />

<%- include('layout', { body: '' }) %>

  <div class="main-interface">
    <div class="latest-container">
      <h3>Latest Streams</h3>
      <div class="latest-streams-container">
        <div class="stream" id="add-stream">
          <i class="fa-solid fa-plus"></i>
          <span>Add A Stream</span>
        </div>
        <% for (let i=0; i < streams.length; i++) { %>
          <a class="stream" href="/stream?streamId=<%= streams[i]._id %>">
            <div class="stream-img-container">
              <img src="<%= streams[i].background_img %>" alt="" />
              <span id="clips-amount">
                <%= streams[i].videos.length %>
              </span>
              <span id="stream-duration">
                <%= streams[i].length %>
              </span>
            </div>
            <span id="game-title">
              <%= streams[i].category %>
            </span>
            <span id="stream-date">
              <%= streams[i].date %>
            </span>
          </a>
          <% } %>
      </div>
    </div>
    <script src="/js/dashboard.js"></script>
    <script src="/js/upload-form.js"></script>