<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clips Vault - Dahsboard</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/queue.css" />
  <link rel="icon" href="/images/iconLogo.png" />
</head>

<body>
  <%- include('menu.ejs') %>
    <section>
      <div class="clips-interface">
        <% for (let i=0; i < videos.length; i++) { %>
          <div class="clip" data-id="<%= videos[i]._id %>">
            <div class="video-container">
              <img class="clip-image" src="<%= videos[i].categoryImg %>" alt="">
              <video src="<%= videos[i].file %>"></video>
              <span class="clip-duration">
                <%= videos[i].length %>
              </span>
            </div>
          </div>
          <% } %>
      </div>
    </section>
    <script src="/js/dashboard.js"></script>
    <script>
      var currentPage = window.location.href;
      var menuLinks = document.getElementsByClassName('menu-link');
      for (var i = 0; i < menuLinks.length; i++) {
        var link = menuLinks[i];
        if (currentPage.includes('queue') && link.textContent === 'Queue') {
          link.classList.add('selected');
        }
      }
    </script>
</body>

</html>