<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clips Vault - Settings</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/settings.css">
</head>

<body>
    <%- include('menu.ejs') %>
        <div class="main-interface">
            <div class="settings-container">
                <div class="settings" id="general-settings">
                    <div>
                        <h2>General</h2>
                        <span>Configure general settings for the application</span>
                    </div>
                    <div class="setting" id="live-required">
                        <div>
                            <h4>Live Required</h4>
                            <span>Does OBS need to be streaming for the application to track the stream</span>
                        </div>
                        <label class="switch" id="liveRequiredSwitch">
                            <input id="liveRequired" type="checkbox" <%=liveRequired ? 'checked' : '' %>>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="setting" id="archiveToggleContainer">
                        <div id="archiveToggle">
                            <div>
                                <h4>Archive Videos</h4>
                                <span>Compress older videos to save space</span>
                            </div>
                            <label class="switch" id="archiveSwitch">
                                <input id="archive" type="checkbox" <%=archiveSettings.archive ? 'checked' : '' %>>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <form action="compress" id="compressOptions" <%=archiveSettings.archive
                            ? 'style="display: flex;"' : '' %>>
                            <label for="">Older Than:</label>
                            <select name="" id="compressList">
                                <option value="30" <%=archiveSettings.archiveTime==='30' ? 'selected' : '' %>>30 Days
                                </option>
                                <option value="60" <%=archiveSettings.archiveTime==='60' ? 'selected' : '' %>>60 Days
                                </option>
                                <option value="90" <%=archiveSettings.archiveTime==='90' ? 'selected' : '' %>>90 Days
                                </option>
                                <option value="120" <%=archiveSettings.archiveTime==='120' ? 'selected' : '' %>>120 Days
                                </option>
                                <option value="150" <%=archiveSettings.archiveTime==='150' ? 'selected' : '' %>>150 Days
                                </option>
                                <option value="180" <%=archiveSettings.archiveTime==='180' ? 'selected' : '' %>>180 Days
                                </option>
                            </select>
                            <label for="">Compression Precentage:</label>
                            <select name="" id="compressPct">
                                <option value="10">10%</option>
                                <option value="25">25%</option>
                                <option value="50">50%</option>
                                <option value="75">75%</option>
                            </select>
                        </form>
                    </div>
                    <div class="maintenace-time">
                        <div>
                            <h4>Maintenace Time</h4>
                            <span>Specifiy the time the application performs maintenace</span>
                        </div>
                        <div id="cleanup-time">
                            <select id="maintenance-time">
                                <option value="0000" <%=cleanUpTime==='Midnight' ? 'selected' : '' %>>Midnight</option>
                                <option value="0100" <%=cleanUpTime==='0100' ? 'selected' : '' %>>1 AM</option>
                                <option value="0200" <%=cleanUpTime==='0200' ? 'selected' : '' %>>2 AM</option>
                                <option value="0300" <%=cleanUpTime==='0300' ? 'selected' : '' %>>3 AM</option>
                                <option value="0400" <%=cleanUpTime==='0400' ? 'selected' : '' %>>4 AM</option>
                                <option value="0500" <%=cleanUpTime==='0500' ? 'selected' : '' %>>5 AM</option>
                                <option value="0600" <%=cleanUpTime==='0600' ? 'selected' : '' %>>6 AM</option>
                                <option value="0700" <%=cleanUpTime==='0700' ? 'selected' : '' %>>7 AM</option>
                                <option value="0800" <%=cleanUpTime==='0800' ? 'selected' : '' %>>8 AM</option>
                                <option value="0900" <%=cleanUpTime==='0900' ? 'selected' : '' %>>9 AM</option>
                                <option value="1000" <%=cleanUpTime==='1000' ? 'selected' : '' %>>10 AM</option>
                                <option value="1100" <%=cleanUpTime==='1100' ? 'selected' : '' %>>11 AM</option>
                                <option value="1200" <%=cleanUpTime==='1200' ? 'selected' : '' %>>Noon</option>
                                <option value="1300" <%=cleanUpTime==='1300' ? 'selected' : '' %>>1 PM</option>
                                <option value="1400" <%=cleanUpTime==='1400' ? 'selected' : '' %>>2 PM</option>
                                <option value="1500" <%=cleanUpTime==='1500' ? 'selected' : '' %>>3 PM</option>
                                <option value="1600" <%=cleanUpTime==='1600' ? 'selected' : '' %>>4 PM</option>
                                <option value="1700" <%=cleanUpTime==='1700' ? 'selected' : '' %>>5 PM</option>
                                <option value="1800" <%=cleanUpTime==='1800' ? 'selected' : '' %>>6 PM</option>
                                <option value="1900" <%=cleanUpTime==='1900' ? 'selected' : '' %>>7 PM</option>
                                <option value="2000" <%=cleanUpTime==='2000' ? 'selected' : '' %>>8 PM</option>
                                <option value="2100" <%=cleanUpTime==='2100' ? 'selected' : '' %>>9 PM</option>
                                <option value="2200" <%=cleanUpTime==='2200' ? 'selected' : '' %>>10 PM</option>
                                <option value="2300" <%=cleanUpTime==='2300' ? 'selected' : '' %>>11 PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="setting api-key-container" id="api-key">
                        <div>
                            <h4>API Key</h4>
                            <span>API key to make requests to the application</span>
                        </div>
                        <div class="api-key-input">
                            <input type="text" id="api-key-input" value=<%=apiKey %> readonly>
                            <button id="new-api-key">
                                <i class="fa-solid fa-sync"></i>
                            </button>
                            <button id="copy-api-key-button">
                                Copy
                            </button>
                        </div>
                    </div>
                </div>
                <div class="settings" id="obs-settings">
                    <h2>OBS Connection</h2>
                    <span>Connection To OBS or Streamlabs OBS is WebSocket Server</span>
                    <form id="obs-settings-form">
                        <label for="host">Host:</label>
                        <input class="settings-input" type="text" id="host" name="host"
                            value="<%= obsSettings.ip !== null ? obsSettings.ip : '' %>"><br><br>
                        <label for="port">Port:</label>
                        <input class="settings-input" type="text" id="port" name="port"
                            value="<%= obsSettings.port !== null ? obsSettings.port : '' %>"><br><br>
                        <label for="password">Password:</label>
                        <input class="settings-input" type="password" id="password" name="password"
                            value="<%= obsSettings.password !== null ? obsSettings.password : '' %>"><br><br>
                        <button id="obs-button" type="submit">Connect</button>
                    </form>
                </div>
                <div class="settings" id="notification-settings">
                    <h2>Notifications</h2>
                    <span>Configure Notification Settings</span>
                    <div id="discord-settings">
                        <div>
                            <h3 class="notification-app">Discord</h3>
                            <label class="switch" id="discord-toggle">
                                <input type="checkbox" <%=discordStatus ? 'checked' : '' %>>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    <% if (discordStatus) { %>
                        <div>
                            <form id="discord-form">
                                <h3 class="notification-app">Discord Webhook</h3>
                                <input class="settings-input" type="text" id="webhook" name="webhook"
                                    placeholder="Paste webhook here..." value="<%= discordWebhookURL %>"><br><br>
                                <button id="submit-button" type="submit">Submit</button>
                            </form>
                        </div>
                        <% } %>
                            <div>
                                <div id="gmail-settings">
                                    <h3 class="notification-app">Gmail</h3>
                                    <label class="switch" id="gmail-toggle">
                                        <input type="checkbox" <%=gmailToggle ? 'checked' : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="notification-options">
                                <h3>Notification Options</h3>
                                <span>Adjust which notificaions you wish to receive</span>
                                <i class="fa-solid fa-chevron-up" id="noti-options-toggler"></i>
                                <div class="noti-option">
                                    <div class="options-desc">
                                        <h4>Clip Added</h4>
                                        <span>Receive a notificaion when a clip is added</span>
                                    </div>
                                    <label class="switch noti-switch" id="new-clip-noti">
                                        <input id="clipAdded" type="checkbox" <%=toggleSettings.clipAdded ? 'checked'
                                            : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="noti-option">
                                    <div class="options-desc">
                                        <h4>Clip Removed</h4>
                                        <span>Receive a notificaion when a clip is manually removed</span>
                                    </div>
                                    <label class="switch noti-switch" id="clip-removed-noti">
                                        <input id="clipDeleted" type="checkbox" <%=toggleSettings.clipDeleted
                                            ? 'checked' : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="noti-option">
                                    <div class="options-desc">
                                        <h4>Stream Added</h4>
                                        <span>Receive a notificaion when a new stream is added</span>
                                    </div>
                                    <label class="switch noti-switch" id="new-stream-noti">
                                        <input id="streamAdded" type="checkbox" <%=toggleSettings.streamAdded
                                            ? 'checked' : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="noti-option">
                                    <div class="options-desc">
                                        <h4>Stream Removed</h4>
                                        <span>Receive a notificaion when a new stream is manually removed</span>
                                    </div>
                                    <label class="switch noti-switch" id="stream-removed-noti">
                                        <input id="streamDeleted" type="checkbox" <%=toggleSettings.streamDeleted
                                            ? 'checked' : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="noti-option">
                                    <div class="options-desc">
                                        <h4>Clip archived</h4>
                                        <span>Receive a notificaion when a clip is archived</span>
                                    </div>
                                    <label class="switch noti-switch" id="clip-archived-noti">
                                        <input id="clipArchived" type="checkbox" <%=toggleSettings.clipArchived
                                            ? 'checked' : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="noti-option">
                                    <div class="options-desc">
                                        <h4>Maintenace Complete</h4>
                                        <span>Receive a notificaion when maintenace is completed</span>
                                    </div>
                                    <label class="switch noti-switch" id="maintenace-noti">
                                        <input id="maintenace" type="checkbox" <%=toggleSettings.maintenace ? 'checked'
                                            : '' %>>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                </div>
                <div class="settings">
                    <h2>Support The Project</h2>
                    <span>Consider supporting the project</span>
                    <div id="support">
                        <div class="twitch-container">
                            <a href="https://www.twitch.tv/dadthegam3r" target="_blank" class="twitch-link">
                                Follow Me on Twitch
                            </a>
                        </div>
                        <div class="coffee-container">
                            <a href="https://www.buymeacoffee.com/yourusername" target="_blank" class="coffee-link">
                                Buy Me a Coffee
                            </a>
                        </div>
                        <div class="github-container">
                            <a href="https://github.com/dadthegamer/ClipsVault" target="_blank" class="github-link">
                                Clips Vault
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="/js/base.js"></script>
        <script src="/js/settings.js"></script>
        <script>    var currentPage = window.location.href;
            var menuLinks = document.getElementsByClassName('menu-link');
            for (var i = 0; i < menuLinks.length; i++) {
                var link = menuLinks[i];
                if (currentPage.includes('settings') && link.textContent === 'Settings') {
                    link.classList.add('selected');
                }
            }
            const copyApiKeyButton = document.getElementById('copy-api-key-button');
            const discordForm = document.getElementById('discord-form');
            const webhookInput = document.getElementById('webhook');
            const serverapiKey = '<%= serverKey %>';
            const archiveStatus = '<%= archiveSettings.archive %>';
            const newApiKeyButton = document.getElementById('new-api-key');
            const discordToggle = document.getElementById('discord-toggle');
            const obsSettingsForm = document.getElementById('obs-settings-form');
            const liveRequiredSwitch = document.getElementById('liveRequiredSwitch');
            const liveRequiredCheckbox = document.getElementById('liveRequired');
            const cleanupTimeSelect = document.getElementById('maintenance-time');
            const notiOptionsToggle = document.getElementById('noti-options-toggler');
            const gmailToggle = document.getElementById('gmail-toggle');
            const obsButton = document.getElementById('obs-button');
            const switches = document.querySelectorAll('.noti-switch input');
            const archiveToggle = document.getElementById('archiveSwitch');
            const compressForm = document.getElementById('compressOptions');
            const selectElement = document.getElementById('compressList');

            if (archiveStatus) {
                compressForm.style.display = 'flex';
            } else {
                compressForm.style.display = 'none';
            }

            selectElement.addEventListener('change', () => {
                const selectedValue = selectElement.value;
                const isChecked = archiveToggle.querySelector('input').checked;
                updateArchiveSetting(isChecked, selectedValue)
            });
            archiveToggle.addEventListener('change', () => {
                const isChecked = archiveToggle.querySelector('input').checked;
                updateArchiveSetting(isChecked, selectElement.value);
                if (isChecked) {
                    compressForm.style.display = 'flex';
                } else {
                    compressForm.style.display = 'none';
                }
            });
            switches.forEach((switchInput) => {
                switchInput.addEventListener('change', (event) => {
                    const switchId = event.target.id;
                    const switchValue = event.target.checked;
                    updateToggleSetting(switchId, switchValue);
                });
            });

            document.addEventListener('DOMContentLoaded', async () => {
                try {
                    const obsConnectionData = await getObsConnection();
                } catch (error) {
                    console.error('Error:', error);
                }
            });

            // Function to send a post request to the server to update the archive setting
            async function updateArchiveSetting(value, archiveTime) {
                try {
                    const body = {
                        setting: 'archiveSettings',
                        value: {
                            archive: value,
                            archiveTime: archiveTime
                        }
                    };
                    const response = await fetch('/api/settings', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(body),
                    });

                    if (response.ok) {
                        const data = await response.json();
                        console.log('Archive setting updated successfully');
                    } else {
                        console.error('Failed to update Archive setting');
                    }
                } catch (error) {
                    console.error('Error updating Archive setting:', error);
                }
            }

            async function getObsConnection() {
                try {
                    const response = await fetch('/api/obs-connection');
                    if (response.ok) {
                        const data = await response.json();
                        if (data.status === true) {
                            obsButton.textContent = 'Connected';
                            obsButton.classList.add('connected');
                        } else {
                            obsButton.textContent = 'Connect';
                            obsButton.classList.remove('connected');
                        }
                        return data;
                    } else {
                        throw new Error('Error: ' + response.status);
                    }
                } catch (error) {
                    console.error('Error:', error);
                    throw error;
                }
            }

            gmailToggle.addEventListener('change', () => {
                const isChecked = gmailToggle.querySelector('input').checked;
                const body = {
                    setting: 'gmailToggle',
                    value: isChecked,
                };
                fetch('/api/settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body),
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Toggle request sent successfully.');
                        } else {
                            console.error('Toggle request failed.');
                        }
                    })
                    .catch(error => {
                        console.error('Toggle request error:', error);
                    });
            });

            notiOptionsToggle.addEventListener('click', () => {
                const notiOptions = document.querySelectorAll('.noti-option');
                notiOptionsToggle.style.transform = notiOptionsToggle.style.transform === 'rotate(180deg)' ? 'rotate(0deg)' : 'rotate(180deg)';
                notiOptions.forEach((option) => {
                    option.style.display = option.style.display === 'flex' ? 'none' : 'flex';
                });
            });

            function updateToggleSetting(setting, value) {
                const body = {
                    setting: 'notificationToggle',
                    value: value,
                    toggle: setting
                };
                fetch('/api/settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Toggle request sent successfully.');
                        } else {
                            console.error('Toggle request failed.');
                        }
                    })
                    .catch(error => {
                        console.error('Toggle request error:', error);
                    });
            }

            cleanupTimeSelect.addEventListener('change', () => {
                const selectedValue = cleanupTimeSelect.value;
                console.log(selectedValue);
                const settings = {
                    setting: 'maintenanceTime',
                    value: selectedValue
                };
                fetch('/api/settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(settings)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Cleanup Time setting updated successfully');
                        } else {
                            console.error('Failed to update Cleanup Time setting');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });

            liveRequiredSwitch.addEventListener('change', () => {
                const value = liveRequiredCheckbox.checked;
                const settings = {
                    setting: 'liveRequired',
                    value: value
                };
                fetch('/api/settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(settings)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Live Required setting updated successfully');
                        } else {
                            console.error('Failed to update Live Required setting');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });

            obsSettingsForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const hostInput = document.getElementById('host');
                const portInput = document.getElementById('port');
                const host = hostInput.value.trim();
                const port = portInput.value.trim();
                const validHost = validateHost(host);
                const validPort = validatePort(port);
                if (validHost && validPort) {
                    const settings = {
                        host: host,
                        port: port,
                        password: document.getElementById('password').value
                    };
                    const body = {
                        setting: 'obsSettings',
                        value: settings
                    };
                    fetch('/api/settings', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(body)
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Settings saved successfully');
                            } else {
                                console.error('Failed to save settings');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });

            function validateHost(host) {
                const ipPattern = /^(localhost|\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})$/;
                return ipPattern.test(host);
            }

            function validatePort(port) {
                return !isNaN(port);
            }

            discordToggle.addEventListener('change', () => {
                const isChecked = discordToggle.querySelector('input').checked;
                const body = {
                    setting: 'discordToggle',
                    value: isChecked,
                };
                fetch('/api/settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(body),
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Toggle request sent successfully.');
                            if (isChecked) {
                                document.getElementById('discord-form').style.display = 'block';
                            } else {
                                document.getElementById('discord-form').style.display = 'none';
                            }
                            console.log('Toggle request sent successfully.');
                        } else {
                            console.error('Toggle request failed.');
                        }
                    })
                    .catch(error => {
                        console.error('Toggle request error:', error);
                    });
            });

            newApiKeyButton.addEventListener('click', updateApiKey);

            discordForm.addEventListener('submit', (event) => {
                event.preventDefault();
                const webhookUrl = webhookInput.value;
                if (isValidUrl(webhookUrl)) {
                    const body = {
                        setting: 'discord',
                        value: webhookUrl,
                    };
                    fetch('/settings', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(body),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                } else {
                    console.log('Invalid webhook URL');
                }
            });
            copyApiKeyButton.addEventListener('click', copyApiKey);
            function copyApiKey() {
                const apiKeyInput = document.getElementById('api-key-input');
                apiKeyInput.select();
                document.execCommand('copy');
                copyApiKeyButton.classList.add('copied');
                setTimeout(() => {
                    copyApiKeyButton.classList.remove('copied');
                }, 1000);
            }

            function isValidUrl(url) {
                const urlPattern = /^(https?:\/\/)?([\w.-]+)\.([a-zA-Z]{2,6})(\/[\w.-]*)*\/?$/;
                return urlPattern.test(url);
            }

            async function updateApiKey(apiKey) {
                try {
                    const response = await fetch('/api/settings', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'x-api-key': serverapiKey,
                        },
                        body: JSON.stringify({ setting: 'apikey' })
                    });

                    if (response.ok) {
                        const data = await response.json();
                        const apiKeyInput = document.getElementById('api-key-input');
                        apiKeyInput.value = data.apiKey;
                        console.log('API key updated successfully');
                    } else {
                        console.error('Failed to update API key');
                    }
                } catch (error) {
                    console.error('Error updating API key:', error);
                }
            }
        </script>
</body>

</html>