<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clips Vault</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/stream.css">
</head>

<body>
  <section id="menu">
    <h1>Clips Vault</h1>

    <div class="items">
      <li><i class="fa-solid fa-gauge"></i><a href="/">Dashboard</a></li>
      <li><i class="fa-solid fa-clapperboard"></i><a href="/clips">Clips</a></li>
      <li><i class="fa-solid fa-list-ol"></i><a href="#">Queue<span class="queue-notification"></span></a></li>
    </div>
    <div class="progress-container">
      <div class="progress-bar-container">
        <div class="progress-bar"></div>
      </div>
      <div class="progress-container-details">
        <span id="percent"></span>
        <span id="storage"></span>
      </div>
    </div>
  </section>

  <div class="confirmation-window">
    <h2>CONFIRM</h2>
    <span>Are you sure</span>
    <div>
      <button id="confirm-btn">Confirm</button>
      <button id="cancel-btn">Cancel</button>
    </div>
  </div>

  <div class="top-notifications">
    <i class="fa-solid fa-bell"></i>
    <span id="top-notification"></span>
  </div>


  <div id="interface">
    <div class="navigation">
      <div class="notification-container">
        <div class="notification-bell">
          <i class="fa fa-bell"></i>
          <span class="notification-count"></span>
        </div>
        <div class="notification-dropdown">
          <ul class="notification-list">
          </ul>
        </div>
      </div>
      <div class="profile-settings">
        <% if (userData) { %>
          <img src="<%= userData.profile_image_url %>" alt="">
          <% } else { %>
            <img src="/images/blank_logo.jpg" alt="../public/images/blank_logo.jpg">
            <% } %>
              <div class="submenu">
                <a href="#">Sign Out</a>
                <a href="/settings">Settings</a>
              </div>
      </div>
    </div>
    <div class="stream-container">
      <div class="stream-info-container">
        <img src="<%= streamData.background_img %>" alt="">
        <div class="stream-info">
          <span>Date:</span>
          <input class="my-input" type="text" disabled placeholder="<%= streamData.date %>">
          <span>Category:</span>
          <h1>
            <%= streamData.category %>
          </h1>
          <span>Duration:</span>
          <h1>
            <%= streamData.length %>
          </h1>
          <div class="stream-tags">
            <h3>Tags</h3>
            <div class="tag-list" id="tag-list">
              <% for (let i=0; i < streamData.tags.length; i++) { %>
                <span>
                  <%= streamData.tags[i] %><i class="fa-solid fa-circle-xmark"></i>
                </span>
                <% } %>
            </div>
            <form class="tag-form">
              <input type="text" id="tag-input" placeholder="Add a tag">
              <button type="submit" id="tag-submit">Add</button>
            </form>
          </div>
          <div class="stream-actions">
            <button id="delete-stream">Delete Stream</button>
          </div>
        </div>
      </div>
      <div class="clips-interface">
        <% for (let i=0; i < videoData.length; i++) { %>
          <div class="clip" data-id="<%= videoData[i]._id %>">
            <div class="video-container">
              <video src="<%= videoData[i].file %>"></video>
              <span class="clip-duration"><%= videoData[i].length %></span>
            </div>
          </div>
          <% } %>
      </div>
    </div>

    <script src="/js/base.js"></script>
    <!-- <script src="/js/stream.js"></script> -->
    <script>
      const videos = document.querySelectorAll('.clip video');
      const urlParams = new URLSearchParams(window.location.search);
      const streamId = urlParams.get('streamId');
      const deleteStreamButton = document.getElementById('delete-stream');
      const apiKey = '<%= apiKey %>';
      console.log(`API Key: ${apiKey}`);

      videos.forEach(video => {
        video.addEventListener('mouseenter', () => {
          video.setAttribute('controls', 'controls');
        });

        video.addEventListener('mouseleave', () => {
          video.removeAttribute('controls');
        });
      });

      function addTagToStream(event) {
        event.preventDefault();

        const tagInput = document.getElementById('tag-input');
        const tagList = document.getElementById('tag-list');
        const newTag = tagInput.value.trim();

        if (newTag !== '') {
          const tagType = 'stream'; // Assuming the tag type is 'stream'
          const id = streamId; // Replace with the actual stream ID

          // Make an API request to add the tag
          fetch('/api/tags', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'x-api-key': apiKey
            },
            body: JSON.stringify({
              tagType: tagType,
              id: id,
              newTag: newTag
            })
          })
            .then(response => response.json())
            .then(data => {
              console.log(data);
              if (data.success) {
                // Tag added successfully, append it to the tag list
                const tagElement = document.createElement('span');
                const iconElement = document.createElement('i');
                iconElement.classList.add('fa-solid', 'fa-circle-xmark');
                tagElement.textContent = newTag;
                tagElement.appendChild(iconElement);
                tagList.appendChild(tagElement);

                // Clear the input field
                tagInput.value = '';
              }
            })
            .catch(error => {
              console.error('Error adding tag:', error);
            });
        }
      }

      const tagInput = document.getElementById('tag-input');
      tagInput.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
          addTagToStream(event);
        }
      });


      function removeTag(tagElement, tagType, id, tagToRemove) {
        const tagList = document.getElementById('tag-list');

        fetch('/api/tags', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            tagType: tagType,
            id: id,
            tagToRemove: tagToRemove
          })
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.success) {
              // Tag removed successfully, remove it from the tag list
              tagList.removeChild(tagElement);
            }
          })
          .catch(error => {
            console.error('Error removing tag:', error);
          });
      }

      const tagList = document.getElementById('tag-list');
      tagList.addEventListener('click', function (event) {
        if (event.target.classList.contains('fa-circle-xmark')) {
          const tagElement = event.target.parentNode;
          const tagType = 'stream'; // Assuming the tag type is 'stream'
          const id = streamId; // Replace with the actual stream ID
          const tagToRemove = tagElement.textContent.trim();

          removeTag(tagElement, tagType, id, tagToRemove);
        }
      });


      function showConfirmationWindow() {
        const confirmationWindow = document.querySelector('.confirmation-window');
        confirmationWindow.style.display = 'block';
      }

      function handleConfirm() {
        console.log('Sending Form');
        // Send request to remove the stream
        fetch(`/api/stream/${streamId}`, {
          method: 'DELETE'
        })
          .then(response => response.json())
          .then(data => {
            console.log(data.success);
            if (data.success === true) {
              window.location.href = '/'; // Redirect to '/'
            }
            // Process the response as needed
          })
          .catch(error => {
            console.error('Error removing stream:', error);
          });

        const confirmationWindow = document.querySelector('.confirmation-window');
        confirmationWindow.style.display = 'none';
      }

      function handleCancel() {
        const confirmationWindow = document.querySelector('.confirmation-window');
        confirmationWindow.style.display = 'none';
      }

      deleteStreamButton.addEventListener('click', showConfirmationWindow);

      const confirmButton = document.getElementById('confirm-btn');
      const cancelButton = document.getElementById('cancel-btn');
      confirmButton.addEventListener('click', handleConfirm);
      cancelButton.addEventListener('click', handleCancel);
    </script>
</body>

</html>